{% extends 'base.html.twig' %}

{% block title %}CentresFormations index{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <div class="row">
        <div class="col-lg-offset-4 col-lg-4  col-sm-12 col-xs-12 text-center" style="margin-top: 20px">
            <bouton type="bouton" class="btn btn-success">
                <a  href="{{ path('centres_formations_index') }}" style="color: #FFF"><i clsss="fa fa-fw fa-plus"></i>Centres de formations</a>
            </bouton>
            <bouton type="bouton" class="btn btn-default">
                <a  href="{{ path('formations_index') }}" style="color: #000"><i clsss="fa fa-fw fa-plus"></i>Formation</a>
            </bouton>
            <bouton type="bouton" class="btn btn-default">
                <a  href="{{ path('catalogues_index') }}" style="color: #000"><i clsss="fa fa-fw fa-plus"></i>Catalogues</a>
            </bouton>
            <bouton type="bouton" class="btn btn-default">
                <a  href="{{ path('proposer_index') }}" style="color: #000"><i clsss="fa fa-fw fa-plus"></i>Formation commander</a>
            </bouton>
        </div>
    </div>
    <h1 class="col-lg-offset-1 col-sm-12 col-xs-12 col-lg-10">Liste des centres de formations</h1>

    <table class="col-lg-offset-2 col-sm-12 col-xs-12 col-lg-8 table-responsive" style="margin-top: 40px">
        <thead style="border-bottom: solid 1px #000">
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Raison social</th>
                <th class="text-center">Nom</th>
                <th class="text-center">Adresse</th>
                <th class="text-center">Code postal</th>
                <th class="text-center">Tel</th>
                <th class="text-center">Fax</th>
                <th class="text-center">Email</th>
                <th class="text-center">Code TVA</th>
                <th class="text-center">Code APE</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for centres_formation in centres_formations %}
            <tr>
                <td class="text-center">{{ centres_formation.id }}</td>
                <td class="text-center">{{ centres_formation.rs }}</td>
                <td class="text-center">{{ centres_formation.nom }}</td>
                <td class="text-center">{{ centres_formation.adresse }}</td>
                <td class="text-center">{{ centres_formation.cp }}</td>
                <td class="text-center">{{ centres_formation.tel }}</td>
                <td class="text-center">{{ centres_formation.fax }}</td>
                <td class="text-center">{{ centres_formation.email }}</td>
                <td class="text-center">{{ centres_formation.tva }}</td>
                <td class="text-center">{{ centres_formation.ape }}</td>
                <td class="text-center" style="padding: 5px 0">
                    <bouton type="bouton" class="btn btn-info">
                        <a href="{{ path('centres_formations_show', {'id': centres_formation.id}) }}" style="color: #000"><i clsss="fa fa-fw fa-eye"></i>Consulter</a>
                    </bouton>
                    <bouton type="bouton" class="btn btn-warning">
                        <a  href="{{ path('centres_formations_edit', {'id': centres_formation.id}) }}" style="color: #000"><i clsss="fa fa-fw fa-edit"></i>Editer</a>
                    </bouton>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-4  col-sm-12 col-xs-12 text-center" style="margin-top: 20px">
            <bouton type="bouton" class="btn btn-success">
                <a  href="{{ path('centres_formations_new') }}" style="color: #FFF"><i clsss="fa fa-fw fa-plus"></i>Creer un nouveau centre de formation</a>
            </bouton>
        </div>
    </div>
{% endblock %}
