{% extends 'base.html.twig' %}
{% block title %}Catalogues index{% endblock %}

{% block body %}
    <h1>Catalogues index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Duree</th>
                <th>Tarif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catalogue in catalogues %}
            <tr>
                <td>{{ catalogue.id }}</td>
                <td>{{ catalogue.nom }}</td>
                <td>{{ catalogue.duree }}</td>
                <td>{{ catalogue.tarif }}</td>
                <td>
                    <a href="{{ path('catalogues_show', {'id': catalogue.id}) }}">show</a>
                    <a href="{{ path('catalogues_edit', {'id': catalogue.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('catalogues_new') }}">Create new</a>
{% endblock %}
