{% extends 'base.html.twig' %}
{% block title %}Catalogues index{% endblock %}
{% block body %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <div class="row">
        <div class="col-lg-offset-4 col-lg-4 text-center" style="margin-top: 20px">
            <bouton type="bouton" class="btn btn-default">
                <a  href="{{ path('centres_formations_index') }}" style="color: #000"><i clsss="fa fa-fw fa-plus"></i>Centres de formations</a>
            </bouton>
            <bouton type="bouton" class="btn btn-default">
                <a  href="{{ path('formations_index') }}" style="color: #000"><i clsss="fa fa-fw fa-plus"></i>Formation</a>
            </bouton>
            <bouton type="bouton" class="btn btn-success">
                <a  href="{{ path('catalogues_index') }}" style="color: #fff"><i clsss="fa fa-fw fa-plus"></i>Catalogues</a>
            </bouton>
            <bouton type="bouton" class="btn btn-default">
                <a  href="{{ path('proposer_index') }}" style="color: #000"><i clsss="fa fa-fw fa-plus"></i>Formation commander</a>
            </bouton>
        </div>
    </div>
    <h1 class="col-lg-offset-2 col-lg-8">Liste des catalogues</h1>

    <table class="col-lg-offset-2 col-lg-8 table-responsive" style="margin-top: 40px">
        <thead style="border-bottom: solid 1px #000">
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Nom</th>
                <th class="text-center">Duree</th>
                <th class="text-center">Tarif</th>
                <th class="text-center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catalogue in catalogues %}
            <tr>
                <td class="text-center">{{ catalogue.id }}</td>
                <td class="text-center">{{ catalogue.nom }}</td>
                <td class="text-center">{{ catalogue.duree }}</td>
                <td class="text-center">{{ catalogue.tarif }}</td>
                <td class="text-center">
                    <bouton type="bouton" class="btn btn-info">
                        <a href="{{ path('catalogues_show', {'id': formation.id}) }}" style="color: #000"><i clsss="fa fa-fw fa-eye"></i>Consulter</a>
                    </bouton>
                    <bouton type="bouton" class="btn btn-warning">
                        <a  href="{{ path('catalogues_edit', {'id': formation.id}) }}" style="color: #000"><i clsss="fa fa-fw fa-edit"></i>Editer</a>
                    </bouton>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-lg-offset-4 col-lg-4 text-center" style="margin-top: 20px">
            <bouton type="bouton" class="btn btn-success">
                <a  href="{{ path('catalogues_new') }}" style="color: #FFF"><i clsss="fa fa-fw fa-plus"></i>Creer un nouveau catalogue</a>
            </bouton>
        </div>
    </div>
{% endblock %}